/Development/workspace
/Development/Code/HealthCodeSystem/healthcodecommon/.classpath
/Development/Code/HealthCodeSystem/healthcodecommon/.settings
/Development/Code/HealthCodeSystem/healthcodemodel/.settings
/Development/Code/HealthCodeSystem/healthcodemodel/.classpath
/Development/Code/HealthCodeSystem/healthcodeservice/.classpath
/Development/Code/HealthCodeSystem/healthcodeservice/.settings
/Development/Code/HealthCodeSystem/healthcodeweb/.classpath
/Development/Code/HealthCodeSystem/healthcodeweb/.settings
