 <div ng-show="message" Class="alert alert-danger">{{message}}</div>
<div ng-controller="Loginctrl" id="loginbox" style="width: 600px">
	<div class="panel  panel-info">
		<div class="panel-heading">
			<div class="panel-title">Sign In</div>
			<div
				style="float: right; font-size: 80%; position: relative; top: -10px">
				<a href="#">Forgot password?</a>
			</div>
		</div>
		<div style="padding-top: 20px" class="panel-body">
			<div ng-show="error" class="alert alert-danger">{{error}}</div>
			<form id="loginform" name="form" class="form-horizontal form-validations" role="form"
				ng-submit="login(credentials)" novalidate> 

				<div style="margin-bottom: 25px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-user"></i></span> 
						<input id="login-username" type="text" class="form-control" name="userName" value=""
						placeholder="username or email or HealthCode"
						ng-model="credentials.username" required /> 
					
				</div>

				<div style="margin-bottom: 25px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-lock"></i></span> <input id="login-password"
						type="password" class="form-control" name="password"
						placeholder="password" ng-model="credentials.password" required>
				
				</div>

				<div class="input-group">
					<div class="checkbox">
						<label> <input id="login-remember" type="checkbox"
							name="remember" value="1" ng-checked=""> Remember me
						</label>
					</div>
				</div>


				<div style="margin-top: 10px" class="form-group">
					<!-- Button -->

					<div class="col-sm-12 controls">
						<button type="submit"
							ng-disabled="form.username.$dirty && form.username.$invalid ||
                            form.password.$dirty && form.password.$invalid"
							class="btn btn-success">Login</button>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12 control">
						<div
							style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
							Don't have an account! <a ui-sref="signup">Sign Up Here </a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

