
<div class="container" ng-controller="RegistrationCtrl"
	ng-init="initializeController()" style="width: 600px">
	<div class="panel  panel-info">
		<div class="panel-heading">
			<div class="panel-title">Sign Up</div>
		</div>
		<div class="panel-body" style="padding-top: 20px">
       
			<form id="signupform" class="form-horizontal">
				
				<div class="form-group">
					<label class="control-label col-lg-3">I am </label>
					<div class="col-lg-5">
						<select class="form-control" data-fv-notempty
							data-fv-notempty-message="The Role is required"
							ng-model="user.role" ng-change="changeFormbyRole(user.role)">
							<option value="" selected="selected" class="disable">Choose
								your role</option>
							<option value="Patient">Patient</option>
							<option value="Doctor">Doctor</option>
						</select>
					</div>
				</div>
			</form>
			<form id="patientsignupform" name="patientform" class="form-horizontal" role="form" ng-show="user.role=='Patient'" ng-submit="SubmitForm(user)">

				<div class="form-group">
					<label class="col-lg-3 control-label">Full name</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" name="firstName"
							placeholder="First name" required ng-model="user.firstname" />
					</div>

					<div class="col-lg-4">
						<input type="text" class="form-control" name="lastName"
							placeholder="Last name" required ng-model="user.lastname" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">Username</label>
					<div class="col-lg-5">
						<input type="text" class="form-control" name="userName" required
							ng-model="user.username" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">Email address</label>
					<div class="col-lg-5">
						<input class="form-control" name="email" type="email" required
							ng-model="user.email" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">Mobile</label>
					<div class="col-lg-5">
						<input class="form-control" name="mobile" type="text" required
							ng-model="user.mobile" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">Password</label>
					<div class="col-lg-5">
						<input type="password" class="form-control" name="password"
							required ng-model="user.password" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">Retype password</label>
					<div class="col-lg-5">
						<input type="password" class="form-control" name="confirmPassword"
							required ng-model="user.confirmpassword" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">Gender</label>
					<div class="col-lg-5">
						<div class="radio">
							<label> <input type="radio" name="gender" value="male"
								required ng-model="user.gender" /> Male
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio" name="gender" value="female" />
								Female
							</label>
						</div>

					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">City</label>
					<div class="col-lg-5">
						<select class="form-control" name="city" ng-model="user.city">
							<option value="">-- Select a country --</option>
							<option value="fr">Hyderabad</option>
							<option value="de">Germany</option>
							<option value="it">Italy</option>
							<option value="jp">Japan</option>
							<option value="ru">Russia</option>
							<option value="gb">United Kingdom</option>
							<option value="us">United State</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class=" col-lg-3 control-label" for="Address">Address</label>
					<div class="col-lg-5">
						<textarea class="form-control" name="address" rows="5" required
							ng-model="user.address"></textarea>

					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-5 col-lg-offset-3">
						<div class="checkbox">
							<input type="checkbox" name="acceptTerms" /> Accept the terms
							and policies
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-5 col-lg-offset-3">
						<button id="btn-register" class="btn btn-primary" 
							 ng-disabled="" >Sign up</button>
					</div>
				</div>

			</form>
			<form id="Doctorsignupform" class="form-horizontal"
				data-fv-message="This value is not valid"
				data-fv-icon-valid="glyphicon glyphicon-ok"
				data-fv-icon-invalid="glyphicon glyphicon-remove"
				data-fv-icon-validating="glyphicon glyphicon-refresh"
				ng-show="user.role=='Doctor'">

				<div class="form-group">
					<label class="col-lg-3 control-label">Full name</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" name="firstName"
							placeholder="First name" required
							data-fv-notempty-message="The first name is required and cannot be empty"
							ng-model="user.firstname" />
					</div>
					<div class="col-lg-4">
						<input type="text" class="form-control" name="lastName"
							placeholder="Last name" required
							data-fv-notempty-message="The last name is required and cannot be empty"
							ng-model="user.lastname" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">Username</label>
					<div class="col-lg-5">
						<input type="text" class="form-control" name="username"
							data-fv-message="The username is not valid" required
							data-fv-notempty-message="The username is required and cannot be empty"
							pattern="^[a-zA-Z0-9]+$"
							data-fv-regexp-message="The username can only consist of alphabetical and digits"
							data-fv-stringlength="true" data-fv-stringlength-min="6"
							data-fv-stringlength-max="30"
							data-fv-stringlength-message="The username must be more than 6 and less than 30 characters long"
							ng-model="user.username" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">Email address</label>
					<div class="col-lg-5">
						<input class="form-control" name="email" type="email" required
							data-fv-notempty-message="The email is required and cannot be empty"
							data-fv-emailaddress-message="The input is not a valid email address"
							ng-model="user.email" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">Mobile</label>
					<div class="col-lg-5">
						<input class="form-control" name="mobile" type="text" required
							data-fv-notempty-message="The Mobile number is required and cannot be empty"
							ng-model="user.mobile" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">Password</label>
					<div class="col-lg-5">
						<input type="password" class="form-control" name="password"
							required
							data-fv-notempty-message="The password is required and cannot be empty"
							data-fv-different="true" data-fv-different-field="username"
							data-fv-different-message="The password cannot be the same as username"
							ng-model="user.password" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">Retype password</label>
					<div class="col-lg-5">
						<input type="password" class="form-control" name="confirmPassword"
							required
							data-fv-notempty-message="The confirm password is required and cannot be empty"
							data-fv-identical="true" data-fv-identical-field="password"
							data-fv-identical-message="The password and its confirm are not the same"
							ng-model="user.confirmpassword" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">Gender</label>
					<div class="col-lg-5">
						<div class="radio">
							<label> <input type="radio" name="gender" value="male"
								required data-fv-notempty-message="The gender is required"
								ng-model="user.gender" /> Male
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio" name="gender" value="female" />
								Female
							</label>
						</div>

					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">City</label>
					<div class="col-lg-5">
						<select class="form-control" name="city" data-fv-notempty
							data-fv-notempty-message="The city is required"
							ng-model="user.city">
							<option value="">-- Select a country --</option>
							<option value="fr">Hyderabad</option>
							<option value="de">Germany</option>
							<option value="it">Italy</option>
							<option value="jp">Japan</option>
							<option value="ru">Russia</option>
							<option value="gb">United Kingdom</option>
							<option value="us">United State</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-3">Speciality </label>
					<div class="col-lg-5">
						<select class="form-control" name="speciality" multiple="multiple"
							data-fv-notempty
							data-fv-notempty-message="The Speciality is required"
							ng-model="user.speciality">
							<option value="" selected="selected" class="disable">Choose
								Your Speciality</option>
							<option value="Gynecologist">Gynecologist</option>
							<option value="Endichrinologist">Endichrinologist</option>
							<option value="opthamologist">opthamologist</option>
							<option value="Dentist">Dentist</option>
							<option value="Dermatologist">Dermatologist</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class=" col-lg-3 control-label" for="Address">Clinic
						Address</label>
					<div class="col-lg-5">
						<textarea class="form-control" name="address" rows="5" required
							data-fv-notempty-message="The Address is required and cannot be empty"
							ng-model="user.address"></textarea>
					</div>
				</div>

				<div class="form-group" id="Iagree">
					<div class="checkbox col-lg-9 col-lg-offset-3">
						<label> <input id="I-agree" type="checkbox" name="Iagree"
							value="1" required data-fv-notempty-message="Please agree">
							I agree
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-9 col-lg-offset-3">
						<button type="submit" id="btn-register" class="btn btn-primary">Sign
							up</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	
</script>
