<div class="row">
    <div class="column col-md-12">
        <div id="Bookappointment" style="margin-top: 100px;">
            <div class="panel panel-default tab-panel">
                <div class="panel-body">
                    <div class="">
                        <h5>Find a Doctor &nbsp;&nbsp;&nbsp;&nbsp; Book appointment &nbsp;&nbsp; &nbsp;&nbsp; Meet Doctor</h5>


                    </div>
                    <ul id="myTab" class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#speciality" data-toggle="tab">Speciality</a>
                        </li>
                        <li class=""><a href="#doctor" data-toggle="tab">Doctor</a>
                        </li>
                        <li class=""><a href="#clinic" data-toggle="tab">Clinic</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="speciality">
                            <form role="form">
                                <div class="form-group form-inline">
                                    <select class="form-control" name="Specilaity">
                                        <option>Gynecologist</option>
                                        <option>Endichrinologist</option>
                                        <option>opthamologist</option>
                                        <option>Dentist</option>
                                        <option>Dermatologist</option>
                                    </select>

                                    <select class="form-control" name="Location">
                                        <option>Kphb</option>
                                        <option>S.R Nagar</option>
                                        <option>Nijampet</option>
                                        <option>Ameerpet</option>
                                        <option>Bala Nagar</option>
                                    </select>
                                    &nbsp;
                                                <button class=" btn btn-search" type="button"><i class="fa fa-search"></i></button>
                                </div>

                            </form>
                        </div>
                        <div class="tab-pane fade" id="doctor">
                            <form role="form">
                                <div class="form-group form-inline">
                                    <input type="text" class="form-control" placeholder="Enter Doctor name" />
                                    <button class=" btn btn-search" type="button"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="clinic">
                            <form role="form">
                                <div class="form-group form-inline">
                                    <input type="text" class="form-control" placeholder="Enter Clinic name" />
                                    <button class=" btn btn-search" type="button"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
