<div id="footer">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="pull-right">
                <h5>@ Health-Code Management Solutions</h5>
            </div>
            <div align="center">
            <a href="#">Site Map</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#">About Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#">Contact Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#">Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#">Clients</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#">Feedback</a>
            </div>
        </div>
    </div>
</div>
